<app-header></app-header>
<main class="main">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Disponibles">
      <ng-template matTabContent>
        <div class="container">
          <!-- VIAJES DISPONIBLES -->
          <app-disponibles></app-disponibles>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Aceptados">
      <ng-template matTabContent>
        <div class="container">
          <!-- VIAJES ACEPTADOS -->
          <app-aceptados></app-aceptados>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>
<app-footer></app-footer>
