@use "../../../styles/styles-dir" as *;

.login-form {
  @include flex-center;
  background-color: $second;
  width: 17rem;
}
.form {
  @include flex-center;
}
.field {
  width: 70%;
}
.btn {
  @include btn-first;
}
