<app-spinner *ngIf="isLoading" [diameter]="100"></app-spinner>
<ng-container *ngIf="!isLoading">
  <mat-card *ngFor="let viaje of viajes">
    <ul>
      <li>
        <p>
          Dirección:
          {{ viaje.travelEquipmentDTOs[0].equipment.cliente.address }}
        </p>
      </li>
      <li>
        <p>Hora: {{ viaje.creationDate | date: "shortTime" }}</p>
      </li>
      <li>
        <p>
          Equipo:
          {{
            viaje.travelEquipmentDTOs[0].equipment.mark +
              " " +
              viaje.travelEquipmentDTOs[0].equipment.model
          }}
        </p>
      </li>
      <li>
        <p>Estado de viaje: {{ viaje.lastStatusTravel }}</p>
      </li>
    </ul>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        
        (click)="aceptarViaje(viaje.id, viaje.lastStatusTravel)"
      >
        aceptar
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
