<app-header></app-header>
<main class="main">
  <h1 class="title">Historial de viajes</h1>
  <app-spinner *ngIf="isLoading" [diameter]="100"></app-spinner>
  <ng-container *ngIf="!isLoading">
    <mat-card [ngClass]="{'pendiente':v.lastStatusTravel==8,'confirmado':v.lastStatusTravel==9||v.lastStatusTravel==4}" *ngFor="let v of viajes">
      <ul>
        <li>
          <p>
            Dirección:
            {{ v.travelEquipmentDTOs[0].equipment.cliente.address }}
          </p>
        </li>
        <li>
          <p>
            Fecha:
            {{
              v.travelEquipmentDTOs[v.travelEquipmentDTOs.length - 1]
                .operationDate | date:'short'
            }}
          </p>
        </li>
        <li>
          <p>
            Equipo:
            {{
              v.travelEquipmentDTOs[0].equipment.mark +
                " " +
                v.travelEquipmentDTOs[0].equipment.model
            }}
          </p>
        </li>
        <li>
          <p>
            Estado de viaje:
            {{ v.lastStatusTravel  | estadoViaje }}
          </p>
        </li>
      </ul>
    </mat-card>
  </ng-container>
</main>
<app-footer></app-footer>
